/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 5px;
  padding: 0;
  background-color: #F5F5F5;
}
h1 {
  margin-bottom: 15px;
  font-family: Helvetica;
}

div {
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  font-size: 20px;
  font: bold;
}

.animal_name {
  float: right;
  padding: 5px;
  border: 1px solid black;

}
  
.animal_stuff {
  clear: right;
  padding: 5px;
  background-color: #FFFAF0;
}

.animal_entry {
  margin: 1px;
  background-color: #FFFAF0;
}

#giant_panda {
  background-color: #000000;
  color: #FFFFF0;
  text-align: center
}

#red_panda {

  background-color: #A52A2A;
  color: #DEB887;
  text-align: center
}

#raccoon {
  background-color: #696969;
  color: #A9A9A9;
  text-align: center
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop view **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 1px solid black;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid black;
  }
  
  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile view **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    border: 1px solid black;
  }
  
  .col-sm-12 {
    width: 100%;
  }
}

